.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 47px;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


