@media only screen and (max-width: 576px) {

    .general {
        display: flex;
        flex-direction: revert;
    }

    h1, h2 {
        color: red;
    }

    /*.side-menu {*/
    /*    width: 50%;*/
    /*    font-size: 10px;*/
    /*    background-color: red;*/
    /*}*/
}


.general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.genre-country-box {
    min-height: 300px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.external-sources {
    margin-top: 20px;
    color: white;
}


