@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0px;
}
body {
  background-color: green;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}




h1, h2 {
  color: white;
}

p {
  color: #E9C46A;
}



