.highlightOption {
    background: none;
    color: #E9C46A;
}

.multiSelectContainer {
    color: #E9C46A;
    border-color: black;
    border-radius: "5px";
    margin: 10px;
    width: 400px;
}

.multiSelectContainer li:hover {
    background: #264653;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.chip {
    background-color: #264653;
}

.searchBox {
    border: none;
    border-radius: 5px;
    color: black;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
}

.searchWrapper{
    background-color: white;
}

.optionContainer {
    background: black;
}

.multiSelectContainer li {
    display: flex;
}

.icon_down_dir {
    width: 20px;
}

