.highlightOption {
    background: none;
    color: #E9C46A;
}

.multiSelectContainer {
    color: #E9C46A;
    border-color: black;
    border-radius: "5px";
    width: 50%;
}

.multiSelectContainer li:hover {
    background: #264653;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.chip {
    background-color: #264653;
}

.searchBox {
    border: none;
    border-radius: 5px;
    color: #E9C46A;
}

.optionContainer {
    background: black;
}

.multiSelectContainer li {
    display: flex;
}

.icon_cancel icon_down_dir {
    fill: white;
}
