.container {
    margin: 40px;
    width: 150px;
}

form {
    box-sizing: border-box;
}

input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

label {
    color: #E9C46A;
    margin: 10px;
}

.input-label {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkbox {
    background-color: yellow;
    color: red;
}
